<div class="semester">
  <h1 class="name"><a href="/semesters/{{slug}}">{{name}}</a></h1>
  <h2 class="blogger-count">{{bloggersCount}} bloggers</h2>
  <h2 class="entries-count">{{entriesCount}} entries</h2>
</div>