<a href="/semesters/{{slug}}">
  <div class="semester-wrapper col-sm-6 col-md-4">
    <div class="semester">
      <h1 class="name">{{name}}</h1>
      <span class="blogger-count">{{bloggersCount}} bloggers</span><br>
      <span class="entries-count">{{entriesCount}} entries</span>
    </div>
  </div>
</a>