<div class="semester">
  <h1 class="name"><a href="/semesters/{{slug}}">{{name}}</a></h1>
  <div class="info">
    <span class="blogger-count">{{bloggersCount}} bloggers, </span>
    <span class="entries-count">{{entriesCount}} entries</span>
  </div>
</div>