<a href="/semesters/{{slug}}">
  <div class="semester col-lg-4">
    <h1 class="name">{{name}}</h1>
    <div class="info">
      <span class="blogger-count">{{bloggersCount}} bloggers</span><br>
      <span class="entries-count">{{entriesCount}} entries</span>
    </div>
  </div>
</a>