<div class="semester-blogroll" id="{{slug}}">
  <h2 class="name">{{name}}</h2>
  <ul class="bloggers">
  {{#each bloggers}}
    <li class="blogger"><a href="{{blogUrl}}">{{name}}</a></li>
  {{/each}}
  </ul>
</div>