#page-content-wrapper {
  max-width: 980px;
  background-color: white;
}

#forward-slashes {
  color: cyan;
  font-weight: bold;
}

.navbar {
  margin-bottom: 0px;
}

#sidebar-wrapper {
  background-color: #f5f5f5;
}

.sidebar-nav li a {
    font-family: "Merriweather", "Georgia", "Serif";
    color: #111;
    font-size: 16px;
    text-indent: 0px;
    padding: 10px;
    line-height: 30px;
}

.sidebar-nav li a:hover {
    color: black;
    background: white;
}

.sidebar-nav li a.nav-active {
    color: black;
    background: white;
}

a {
  color: #316072;

  &:hover {
    text-decoration: none;
    color: #507292;
  }
}

h1.title {
  font-size: 34px;
  line-height: 42px;
  font-family: "Merriweather", "Georgia", serif;
  color: #4C4C4C;
}

pre {
  background-color: white;
}

pre {
  border: solid 1px #ddd;
  background: #fff;
  line-height: 23px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

.highlight td {
  padding: 8px 0px;
}

.gl {
  background: #fafafa;
  border-right: 1px solid #ddd;
  color: #999;

  /* Stop line numbers being visually selected */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gutter .highlight {
  width: 50px;
}

pre.line-numbers {
  width: 50px;
  text-align: right;

}
